@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #fff;
}

body {
  @apply font-light;
  font-size: 16px;
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 25px;
  color: white;
}

h3 {
  font-size: 18px;
  color: white;
}

h4 {
  @apply font-bold;
  color: white;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-response {
  @apply text-slate-300;
}

.chat-response h1,
.chat-response h2,
.chat-response h3,
.chat-response h4,
.chat-response h5,
.chat-response h6 {
  @apply text-slate-300 font-bold text-left;
}

.chat-response h1 {
  @apply text-2xl font-normal text-slate-100;
}

.chat-response h2 {
  @apply text-lg font-normal text-slate-200;
}

.chat-response a {
  @apply text-slate-200 font-bold underline;
}

.chat-response b {
  @apply font-black;
}

.chat-response p {
  @apply mb-2;
}

.chat-reponse ul {
  @apply p-12 rounded-full bg-slate-700 text-center py-4  text-white;
}

.chat-response li {
  @apply p-3 rounded-md bg-slate-700  py-4 text-justify  text-white;
}

pre {
  @apply bg-slate-800 p-3 rounded-md;
  line-height: 0.8;
  margin: 0;
  font-size: 12px;
  white-space: pre-wrap;
  word-break: break-word;
  @apply text-left;
}

.custom-button {
  @apply bg-white/10 backdrop-blur-md border border-white/15 text-white rounded-2xl px-6 py-3 justify-center gap-2 shadow-md hover:bg-white/30 items-center;
}

.signup-button {
  @apply 
  bg-white/10 
  backdrop-blur-md 
  border 
  border-white/5 
  text-white 
  rounded-2xl 
  px-6 py-3 
  justify-center 
  gap-2 
  shadow-md 
  hover:bg-purple-600 
  items-center;
}
